Requirements retrieved from http://www.pnas.org/site/authors/format.xhtml on 23 November 2014.

References. References must be in PNAS style. Only published or in-press papers and books may be cited in the reference list. Unpublished abstracts of papers presented at meetings or references to "data not shown" are not permitted. References should be cited in numerical order as they appear in text. Because tables and figures will be inserted in the text where first cited, references in these sections should be numbered accordingly. Include the full title for each cited article. All authors (unless there are more than five) should be named in the citation. If there are more than five, list the first author's name followed by et al. Provide inclusive page ranges for journal articles and book chapters. Cite databases in the text or as footnotes.

Journal articles are cited as follows:

10. Neuhaus J-M, Sitcher L, Meins F, Jr, Boller T (1991) A short C-terminal sequence is necessary and sufficient for the targeting of chitinases to the plant vacuole. Proc Natl Acad Sci USA 88(22):10362-10366.

Use MEDLINE/PubMed abbreviations of journal titles or use the full journal title for any journals not indexed in MEDLINE.

Articles or chapters in books are cited as follows:

14. Hill AVS (1991) HLA associations with malaria in Africa: some implications for MHC evolution. Molecular Evolution of the Major Histocompatibility Complex, eds Klein J, Klein D(Springer, Heidelberg), pp 403-420. 
